<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">Bernease Herman</strong> &mdash; a data scientist at the University of Washington eScience Institute. <br><br>
	  I focus on the discovery, application, and potential commercialization of machine learning techniques. Particularly exciting are (1) interpretable and FAT (fair, accountable, transparent) models; as well as designing the "final stretch" innovations that make ML solutions viable in the real world. <br><br>
    Through my work with the eScience Insitute's Incubator and Data Science for Social Good (DSSG) programs, I've worked on problems as broad as data collection strategies in autonomous marine vehicles to predicting inequity in urban data. &mdash; <a href="http://escience.washington.edu">eScience website</a></p>
  </div>
</section>
