
<nav class="nav">
  <div class="container">
  	<table class="navtable">
  	  <tr>
  	    <td rowspan="2" class="navimage">
  	      <a href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/assets/images/headshot.png' | prepend: site.baseurl }}" /></a>
  	    </td>
        <td vertical-align="top">
          <!-- added spaces to align with list elements below -->
          <h1 class="box-highlight" style="margin-left:10px; font-weight:500">Bernease Herman</h1>
          <p style="margin-left:10px;" class="base-font-color hide-nonmobile">Fascinated with intersection of AI, innovation, and intuitive explanations. Especially in research-focused roles/labs.</p>
        </td>
      </tr>
      <tr>
        <td vertical-align="bottom">
          <ul class="navbar">
            <li>{% if page.url == "/" %}home{% else %}<a href="{{ '/' | prepend: site.baseurl }}">home</a>{% endif %}</li>
            <li>about</li>
            <!--<li>{% if page.url == "/about" %}about{% else %}<a href="{{ '/about' | prepend: site.baseurl }}">about</a>{% endif %}</li>-->
            <li>research</li>
            <!--<li>{% if page.url == "/research" %}research{% else %}<a href="{{ '/research' | prepend: site.baseurl }}">research</a>{% endif %}</li>-->
            <li>teaching</li>
            <!--<li>{% if page.url == "/teaching" %}teaching{% else %}<a href="{{ '/teaching' | prepend: site.baseurl }}">teaching</a>{% endif %}</li>-->
            <li>speaking</li>
            <!--<li>{% if page.url == "/speaking" %}speaking{% else %}<a href="{{ '/speaking' | prepend: site.baseurl }}">speaking</a>{% endif %}</li>-->
            <!--<li>{% if page.url == "/explanations" %}explanations{% else %}<a href="{{ '/explanations' | prepend: site.baseurl }}">explanations</a>{% endif %}</li>-->
          </ul>
        </td>
    </table>
  </div>
</nav>
